# Copy this file to .env and add your database connection URL.
DATABASE_URL=postgresql://neondb_owner:npg_kKtW2HFqxRm0@ep-curly-morning-aq7b07jm-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
